:host {
  /**
   * @prop --border: Border style for the table
   *
   * @prop --header-background-color: Background color for the header row
   * @prop --header-color: Text color for the header row
   * @prop --header-cell-padding: Padding for header cells
   * @prop --header-cell-font-weight: Font weight for header cells
   * @prop --header-border-width: Border width for header cells
   * @prop --header-border-color: Border color for header cells
   * @prop --header-border-style: Border style for header cells
   *
   * @prop --row-background-color: Background color for regular rows
   * @prop --row-cell-padding: Padding for regular row cells
   * @prop --row-cell-height: Height for regular row cells
   * @prop --row-border-width: Border width for regular rows
   * @prop --row-border-color: Border color for regular rows
   * @prop --row-border-style: Border style for regular rows
   *
   * @prop --link-decoration: Text decoration for links
   * @prop --link-color: Color for links
    */
  --border: 0px solid black;

  --header-background-color: rgb(255, 255, 255);
  --header-color: rgb(0, 0, 0);
  --header-cell-padding: 2px;
  --header-cell-font-weight: 800;
  --header-border-width: 2px 0;
  --header-border-color: #ddd;
  --header-border-style: solid;

  --row-background-color: white;
  --row-cell-padding: 2px;
  --row-cell-height: 1.5em;
  --row-border-width: 0 0 1px 0;
  --row-border-color: #ddd;
  --row-border-style: solid;

  --link-decoration: none;
  --link-color: rgb(73, 101, 194);

  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: var(--border);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--link-color, currentColor);

  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: var(--header-background-color);
  color: var(--header-color);
  text-align: left;
  cursor: help;
  border-color: var(--header-border-color);
  border-style: var(--header-border-style);
  border-width: var(--header-border-width);
}

.header-cell {
  padding: var(--header-cell-padding);
  font-weight: var(--header-cell-font-weight);
}

.row {
  background-color: var(--row-background-color);
  border-color: var(--row-border-color);
  border-style: var(--row-border-style);
  border-width: var(--row-border-width);
}

.supercell {
  vertical-align: top !important;
  padding: 0;
}

.supercell-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.supercell-list-item {
  height: var(--row-cell-height);
  padding: var(--row-cell-padding);
  white-space: nowrap;
}

.tags {
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid red;
  padding: 0 2px;
  margin-right: 10px;
}
