:host {
  --cell-width: 1.40625em;
  --cell-height: 1.40625em;

  --category-height: 13.5em;
  --category-margin-bottom: 0.25em;
  --category-separator-width: 2em;

  --group-text-transform: none;
  --group-all-color: inherit;
  --group-all-font-weight: normal;
  --group-other-color: inherit;
  --group-other-font-weight: normal;

  --subject-width: 10em;

  display: block;
}

.ribbon {
  &,
  & * {
    box-sizing: border-box;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  height: var(--category-height);
  margin-bottom: var(--category-margin-bottom);

  &.offset-left {
    margin-left: var(--subject-width);
  }
}

.group {
  width: var(--cell-width);
  outline: none;
  text-align: left;
  white-space: nowrap;
  transform: translateX(calc(var(--cell-width) / 2)) rotate(-45deg);
  transform-origin: left bottom;
  line-height: 1;
  cursor: help;
  text-transform: var(--group-text-transform);

  &.hovered {
    font-weight: bold;
  }
}

.subject {
  display: flex;
  flex-direction: row;
  align-items: center;
}

go-annotation-ribbon-subject {
  --width: var(--subject-width);
  --height: var(--cell-height);
}

go-annotation-ribbon-cell {
  --width: var(--cell-width);
  --height: var(--cell-height);
}

b {
  font-weight: 800;
}

.separated {
  margin-left: var(--category-separator-width);
}

.selected {
  font-weight: bold;
  color: #002eff;
}

.clickable {
  cursor: pointer !important;
}

.category-all {
  color: var(--group-all-color);
  font-weight: var(--group-all-font-weight);
}

.category-other {
  color: var(--group-other-color);
  font-weight: var(--group-other-font-weight);
}
