:host {
  --width: 140px;
  --height: auto;

  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  line-height: 1;
}

.label {
  text-decoration: none;
  color: black;
  font-weight: normal;

  &:hover {
    font-weight: bold;
  }
}
