:host {
  --color: black;
  --text-decoration: none;
}

.label {
  text-decoration: var(--text-decoration);
  color: var(--color);
  font-weight: normal;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}
